{
  email {$LETSENCRYPT_EMAIL}
  admin off
}

{$DOMAIN_N8N} {
  encode zstd gzip
  reverse_proxy n8n-web:5678

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}

{$DOMAIN_EVOLUTION} {
  encode zstd gzip
  reverse_proxy evolution-api:8080

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
  }
}
